{% macro render_field_for_view(field) %}
	<h2>{{ field.title }}</h2>
	{% if field.bit_field_type == 'BlogPost' %}

	<p>{{ field.body }}</p>

	{% elif field.bit_field_type == 'Quote' %}

	<blockquote class="blockquote">
	<p>{{ field.body }}</p>
	<footer>{{ field.author }}</footer>
	</blockquote>


	{% elif field.bit_field_type == 'Code' %}

	<code><pre>{{ field.body }}sa fkasjdhf to do:</pre></code>

	{% elif field.bit_field_type == 'Image' %}

	<img src="{{ field.image_url }}" class="img-responsive" alt="Responsive image">

	{% elif field.bit_field_type == 'Rating' %}

	<input class="rating" data-max="5" data-min="1" id="{{ field.__hash__() }}Rating" name="rating_value" type="number" value="{{ field.rating_value }}" />
	<input type="hidden" name="rating_scale" value="{{ field.rating_scale }}">

	{% elif field.bit_field_type == 'CommentBox' %}

	{% for comment in  field.comments %}
	<quote>{{ comment.body }}</quote><br />
	<footer><label>By: {{ comment.author.email }}</footer>
	<hr>
	{% endfor %}
	{% endif %}
{% endmacro %}

{% macro render_note_for_view(active_item, folder) %}
	<div class="panel panel">
	<div class="panel-heading">
	{{ active_item.bitnote.title }}
	<span class="pull-right">
		<span class="glyphicon glyphicon-send" data-toggle="tooltip" data-placement="left" title="Send to other email"></span>
		<a href="{{'/mail/'+folder+'/'+active_item.id|string()+'/trashit'}}">
		<span class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="top" title="Trash it"></span>
		</a>
		<a href="{{'/mail/'+folder+'/'+active_item.id|string()+'/destroy'}}">
		<span class="glyphicon glyphicon-fire" data-toggle="tooltip" data-placement="top" title="Destroy note"></span>
		</a>
		<span class="glyphicon glyphicon-eye-open success" data-toggle="tooltip" data-placement="top" title="You can see this"></span>
		<a href="{{'/mail/'+folder+'/'+active_item.id|string()+'/create_bitbook_from_note'}}">
		<span class="glyphicon glyphicon-book" data-toggle="tooltip" data-placement="right" title="Create new BitBook with this note"></span>
		</a>
	</span>
	</div>
	<div class="panel-body">

	{% for field in active_item.bitnote.bitfields %}
	{{ render_field_for_view(field) }}
	{% endfor %}
	

	</div>
	</div>
	<script>$("[data-toggle=tooltip]").tooltip()</script>
{% endmacro %}

{% macro render_bitbook_for_view(active_item, folder) %}
<div class="panel">
	<div class="panel panel-heading">
		{{ active_item.bitbook.title }}
			<span class="pull-right">
			{{ active_item.id }}
				<span class="glyphicon glyphicon-send" data-toggle="tooltip" data-placement="left" title="Send to other email"></span>
				<a href="{{'/mail/'+folder+'/'+active_item.id|string()+'/add_to_bit_books'}}">
					<span class="glyphicon glyphicon-download" data-toggle="tooltip" data-placement="left" title="Add to Your BitBooks"></span>
				</a>
				<a href="{{'/mail/'+folder+'/'+active_item.id|string()+'/destroy'}}">
				<span class="glyphicon glyphicon-fire" data-toggle="tooltip" data-placement="top" title="Destroy Bitbook"></span>
				</a>
				<a href="{{'/mail/'+folder+'/'+active_item.id|string()+'/trashit'}}">
				<span class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="top" title="Trash it"></span>
				</a>
				<span class="glyphicon glyphicon-eye-open success" data-toggle="tooltip" data-placement="top" title="You can see this"></span>
				<span class="glyphicon glyphicon-book" data-toggle="tooltip" data-placement="right" title="Create new BitBook with this note"></span>
			</span>
	</div>
	<div class="panel panel-body">{{ active_item.bitbook.description }}</div>
	
</div>
<script>$("[data-toggle=tooltip]").tooltip()</script>
{% endmacro %}