{% extends "base.html" %}
{% from "notes/_macros.html" import render_bitnote_for_editor %}
{% block extra_head %}
	
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-8">
		{{ render_bitnote_for_editor(note, unused_bitfields, bitbook) }}
	</div>
	<div class="col-md-4">
		<div id="mail-panel" class="panel panel-success">
			<div class="panel-heading">Send this note to:</div>
			<div class="panel-body">
				<form id="mail_form_id" class="form-vertical" role="form">

					<input type="hidden" name="note_id" value="{{ note.id }}">
					<div class="form-group">
					<input type="text" class="form-control" name="to_user" placeholder="enter email">
					</div>
					<div class="form-group">
					<input type="text" class="form-control" name="msg" placeholder="add some message">
					</div>
					<div class="col-sm-offset-2 col-sm-10">
				      <div class="checkbox">
				        <label><input type="checkbox" name="o" value="1">O</label>
				        <label><input type="checkbox" name="e" value="1">E</label>
				        <label><input type="checkbox" name="v" value="1">V</label>
				        <label><input type="checkbox" name="p" value="1">P</label>
				      </div>
				    </div>

				</form>
				<button class="btn btn-primary" id="send-mail-button" onclick="sendMail()">Send</button>
			</div>
			<div id="mail-confirmation" class="panel-footer" style="display:none;">
			message sent!
			</div>
		</div>
		<div class="panel panel-warning">
			<div class="panel-heading">
				Add field
			</div>
			<div class="panel-body">
				<form  method="post" action="field_manager">
					<input type="hidden" name="task" value="create">
					<div class="radio"><label><input type="radio" name="field_type"value="BlogPost" checked>Blog Post</label></div>
					<div class="radio"><label><input type="radio" name="field_type"value="Rating" checked>Rating</label></div>
					<div class="radio"><label><input type="radio" name="field_type"value="Quote" checked>Quote</label></div>
					<div class="radio"><label><input type="radio" name="field_type"value="CommentBox" checked>Comments</label></div>
					<div class="radio"><label><input type="radio" name="field_type"value="Image" checked>Image</label></div>
					<div class="radio"><label><input type="radio" name="field_type"value="Code" checked>Code</label></div>
					<div class="radio"><label><input type="radio" name="field_type"value="Video" checked>Video</label></div>
					<div class="radio"><label><input type="radio" name="field_type"value="Link" checked>Link</label></div>
					<div class="radio"><label><input type="radio" name="field_type"value="DataSeries" checked>DataSeries</label></div>
					<input class="form-control" type="text" name="field_title" placeholder="enter unique field title">
					<input type="submit" class="btn btn-primary" value="Add">
				</form>
			</div>
			<div class="panel-footer">
				Field title must be unique
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block js_footer %}
<script>

	function sendMail(){
		$("#send-mail-button").prop("disabled", true).html("sending ... ");
		$.ajax({
			type:"POST", 
			url:"/mailer/", 
			data:$("#mail_form_id").serialize(),
			dataType:"json",
			success: function(data){
				if (data.ok == true){
					$("#mail-confirmation").toggle();
					$("#send-mail-button").prop("disabled", false).html("Send");
				}
				else {
					$("#mail-panel").removeClass("panel-success").addClass("panel-danger");
					$("#mail-confirmation").toggle().html("Holly Fucking Shit. An Error!");
					$("#send-mail-button").prop("disabled", false).html("Send");
				}
			}
		});
		
	}
</script>
{% endblock %}