{% extends "base.html" %}

{% block extra_head %}
<script src="http://rawgit.com/javiertoledo/bootstrap-rating-input/master/build/bootstrap-rating-input.min.js"></script>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-8">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<form role="form" method="post" class="form-horizontal" id="HeadingForm" >
					<input type="hidden" name="field_title" value="Heading">
					<input type="hidden" name="field_type" value="Heading">
					<input style="background-color:inherit; color:inherit; border:none;" name="Heading" id="Heading" class="form-control" type="text">
				</form>
				<script>

					$("#Heading").keypress(function(){
						submitForm("HeadingForm");
					})
				</script>
			</div>
			<div class="panel-body">

				{% for field in note.bitfields %}
				<form class="form-horizontal" role="form" method="post" id="{{ field.__hash__() }}">
					<input type="hidden" name="field_title" value="{{ field.title }}">
					<input type="hidden" name="field_type" value="{{ field.bit_field_type }}">

					{% if field.bit_field_type == 'BlogPost' %}
					<div class="form-group">
						<label class="col-sm-2 control-label" for="{{ field.title }}Text">{{ field.title }}</label>
						<div class="col-sm-10">
							<textarea rows="5" style="resize:vertical" id="{{ field.title }}Text" name="body" type="text" class="form-control">{{ field.body }}</textarea>
						</div>
					</div>
					{% elif field.bit_field_type == 'Quote' %}
					<div class="form-group">
						<label class="col-sm-2 control-label" for="{{ field.title }}Text">{{ field.title }}</label>
						<div class="col-sm-10">
							<textarea id="{{ field.title }}Text" style="resize:vertical" type="text" name="body" class="form-control">{{ field.body }}</textarea>
						</div>
						<label class="col-sm-2 control-label" for="{{ field.title }}Author">By</label>
						<div class="col-sm-10">
							<input type="text" id="{{ field.title }}Author" type="text" class="form-control" name="author" value="{{ field.author }}">
						</div>
					</div>
					{% elif field.bit_field_type == 'Code' %}
					<div class="form-group">
						<label class="col-sm-2 control-label" for="{{ field.title }}">{{ field.title }}</label>
						<div class="col-sm-10">
							<code><pre>{{ field.body }}sa fkasjdhf to do:</pre></code>
						</div>
					</div>
					{% elif field.bit_field_type == 'Image' %}
					<div class="form-group">
						<label class="col-sm-2 control-label" for="{{ field.title }}Image">{{ field.title }}</label>
						<div class="col-sm-10">
							<input type="text" id="{{ field.title }}Image" type="text" class="form-control" name="image_url" value="{{ field.image_url }}">
							<img src="{{ field.image_url }}" class="img-responsive" alt="Responsive image">
						</div>
					</div>
					{% elif field.bit_field_type == 'Rating' %}
					<div class="form-group">
						<label class="col-sm-2 control-label" for="{{ field.title }}Rating">{{ field.title }}</label>
						<div class="col-sm-10">
							<input class="rating" data-max="5" data-min="1" id="{{ field.__hash__() }}Rating" name="rating_value" type="number" value="{{ field.rating_value }}" />
							<input type="hidden" name="rating_scale" value="{{ field.rating_scale }}">
						</div>
					</div>
					<script>
						$("#{{ field.__hash__() }}Rating").change(function(){
							submitForm('{{ field.__hash__() }}');
						})
					</script>
					{% elif field.bit_field_type == 'CommentBox' %}
					<div class="form-group">
						<label class="col-sm-2 control-label" for="{{ field.title }}CommentBox">{{ field.title }}</label>
						<div class="col-sm-10">
							{% for comment in  field.comments %}
							<quote>{{ comment.body }}</quote><br />
							<small><label>By: </label>{{ comment.author.email }}</small><br />
							<hr>
							{% endfor %}
							<label class="col-sm-2 control-label" for="{{ field.title }}CommentBody">Body</label>
							<input type="text" name="body" id="{{ field.title }}CommentBody" class="form-control">
							<input type="submit" class="btn btn-primary" value="Submit Comment">
						</div>
					</div>
					{% endif %}
				</form>
				<form method="post" action="field_manager">
					<input type="hidden" name="task" value="delete">
					<input type="hidden" name="field_title" value="{{ field.title }}">
					<input type="hidden" name="field_type" value="{{ field.bit_field_type }}">
					<input type="submit" class="btn" value="delete field">
				</form>
				{% if field.bit_field_type in ['BlogPost', 'Image', 'Quote'] %}
				<script>

					$('#{{ field.__hash__() }}').keypress(function(){
						submitForm('{{ field.__hash__() }}');
					})
				</script>
				{% endif %}
				{% endfor %}

			</div>
			<div class="panel-footer">
				Unused fields:
				{% for field in unused_bitfields %}
				<form method="post" action="field_manager" style="display:inline">
					<input type="hidden" name="task" value="update">
					<input type="hidden" name="field_title" value="{{ field.title }}">
					<input type="hidden" name="field_type" value="{{ field.bit_field_type }}">
					<input type="submit" class="btn btn-xs btn-primary" value="{{ field.title }}">
				</form>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div id="mail-panel" class="panel panel-success">
			<div class="panel-heading">Send this note to:</div>
			<div class="panel-body">
				<form id="mail_form_id" class="form-vertical" role="form">

					<input type="hidden" name="note_id" value="{{ note.id }}">
					<div class="form-group">
					<input type="text" class="form-control" name="to_user" placeholder="enter email">
					</div>
					<div class="form-group">
					<input type="text" class="form-control" name="msg" placeholder="add some message">
					</div>
					<div class="col-sm-offset-2 col-sm-10">
				      <div class="checkbox">
				        <label><input type="checkbox" name="o" value="1">O</label>
				        <label><input type="checkbox" name="e" value="1">E</label>
				        <label><input type="checkbox" name="v" value="1">V</label>
				        <label><input type="checkbox" name="p" value="1">P</label>
				      </div>
				    </div>
				</form>
				<button class="btn btn-primary" id="send-mail-button" onclick="sendMail()">Send</button>
			</div>
			<div id="mail-confirmation" class="panel-footer" style="display:none;">
			message sent!
			</div>
		</div>
		<div class="panel panel-warning">
			<div class="panel-heading">
				Add field
			</div>
			<div class="panel-body">
				<form  method="post" action="field_manager">
					<input type="hidden" name="task" value="create">
					<div class="radio"><label><input type="radio" name="field_type"value="BlogPost" checked>Blog Post</label></div>
					<div class="radio"><label><input type="radio" name="field_type"value="Rating" checked>Rating</label></div>
					<div class="radio"><label><input type="radio" name="field_type"value="Quote" checked>Quote</label></div>
					<div class="radio"><label><input type="radio" name="field_type"value="CommentBox" checked>Comments</label></div>
					<div class="radio"><label><input type="radio" name="field_type"value="Image" checked>Image</label></div>
					<div class="radio"><label><input type="radio" name="field_type"value="Code" checked>Code</label></div>
					<div class="radio"><label><input type="radio" name="field_type"value="Video" checked>Video</label></div>
					<input class="form-control" type="text" name="field_title" placeholder="enter unique field title">
					<input type="submit" class="btn btn-primary" value="Add">
				</form>
			</div>
			<div class="panel-footer">
				Field title must be unique
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block js_footer %}
<script>
	function submitForm(form_id) {
		$.ajax({type:"POST", url: "", data:$("#"+form_id).serialize()});
	};
	function sendMail(){
		$("#send-mail-button").prop("disabled", true).html("sending ... ");
		$.ajax({
			type:"POST", 
			url:"/mailer/", 
			data:$("#mail_form_id").serialize(),
			dataType:"json",
			success: function(data){
				if (data.ok == true){
					$("#mail-confirmation").toggle();
					$("#send-mail-button").prop("disabled", false).html("Send");
				}
				else {
					$("#mail-panel").removeClass("panel-success").addClass("panel-danger");
					$("#mail-confirmation").toggle().html("Holly Fucking Shit. An Error!");
					$("#send-mail-button").prop("disabled", false).html("Send");
				}
			}
		});
		
	}
</script>
{% endblock %}