{% macro render_field_with_errors(field) %}
  <div class="form-group">
  <div class="col-sm-2 col-sm-offset-3 control-label">
    {{ field.label }}
  </div>
  <div class="col-sm-4 text-left">
    {{ field(**kwargs)|safe }}
  </div>
    {% if field.errors %}
      <ul>
      {% for error in field.errors %}
        <li>{{ error }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  </div>
{% endmacro %}

{% macro render_field(field) %}
  <div class="form-group">
  <div class="col-sm-4 col-sm-offset-5 text-left ">
  {{ field(**kwargs)|safe }}
  </div>
  </div>
{% endmacro %}