{% extends "base.html" %}

{% from "_forms.html" import render_form %}

{% block content %}
<div class="col-sm-4 col-sm-offset-4">
<div class="panel panel-primary">
	<div class="panel-heading">Please Login to use BitNotes</div>
	<div class="panel-body">{{ render_form(login_user_form, url_for_security('login'), show_submit=False ) }}</div>
	<div class="panel-footer">{% include "security/_menu.html" %}</div>
</div>
</div>
{% endblock %}
{% block js_footer %}
<script>
	$(".navbar").toggle();
</script>
{% endblock %}