
{% extends "base.html" %}

{% block content %}{% from "security/_macros.html" import render_field_with_errors, render_field %}

<div class="jumbotron text-center">
<h1>Register</h1>
<p>
<form action="{{ url_for_security('register') }}" method="POST" name="register_user_form" class="form-horizontal" role="form">
  {{ register_user_form.hidden_tag() }}
  {{ render_field_with_errors(register_user_form.email) }}
  {{ render_field_with_errors(register_user_form.password) }}
  {% if register_user_form.password_confirm %}
    {{ render_field_with_errors(register_user_form.password_confirm) }}
  {% endif %}
  {{ render_field(register_user_form.submit) }}
</form>
<div class="col-sm-offset-5">
{% include "security/_menu.html" %}
</div>
</p>
</div>
{% endblock %}