<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>BitNotes</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://bootswatch.com/yeti/bootstrap.min.css">
    <style>.content {padding-top: 80px;} a.brand {color: #fff }</style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://bootswatch.com/assets/js/bootswatch.js"></script>
    <script type="text/javascript" src="http://bootswatch.com/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    {% block extra_head %}

    {% endblock %}
    
  </head>

  <body>

    {%- block topbar -%}
<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">BitNotes</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            {% if bitbook is defined %}
            <li>         
              <a href="/{{ bitbook.id }}">: {{bitbook.title}}</a>
            </li>
            {% endif %}

          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">{{ current_user.email }}<span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a href="../default/">Default</a></li>
                <li class="divider"></li>
                {% include "security/_menu.html" %}
              </ul>
            </li>

          </ul>

        </div>
      </div>
    </div>

    {%- endblock -%}

    <div class="container">
      <div class="content">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}

        {% for category, message in messages %}
        <div class="alert alert-{{ category }}" role="alert">
        <p>{{ message }}</p>
        </div>
        {% endfor %}

        {% endif %}
        {% endwith %}
        {% block page_header %}{% endblock %}
        {% block content %}{% endblock %}
      </div>
    </div>
    {% block js_footer %}{% endblock %}
  </body>
</html>
