<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BitNotes</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="http://sitediscount.ru/glossy_blue_theme/css/theme.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pace.css') }}">
    <link href="{{ url_for('static', filename='favicon.ico') }}" rel="icon" type="image/x-icon" />
    <style>.content {padding-top: 80px;} a.brand {color: #fff } span.glyphicon {font-size: 1.2em;}</style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://bootswatch.com/assets/js/bootswatch.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://rawgit.com/HubSpot/pace/v0.5.3/pace.min.js"></script>
    
    <script src="http://rawgit.com/javiertoledo/bootstrap-rating-input/master/build/bootstrap-rating-input.min.js"></script>
    <script src="http://rawgit.com/nnnick/Chart.js/master/Chart.min.js"></script>


    {% block extra_head %}

    {% endblock %}
    
  </head>

  <body>
    {% block extra_body %}
    {% endblock %}
    {%- block topbar -%}
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand" data-method="put">BitNotes</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            {% if bitbook is defined %}
            <li>         
              <a href="/{{ bitbook.id }}" style="word-spacing: -0.7em;"><span class="glyphicon glyphicon-book" style="font-size:1em;" data-toggle="tooltip" data-placement="bottom" title="{{bitbook.id}}"> {{bitbook.title}}</a>
            </li>
            {% endif %}
            {% if note is defined %}
            <li>
              <a class="dropdown-toggle" style="word-spacing: -0.7em;" data-toggle="dropdown" href="#" id="themes"><span style="font-size:1em;" class="glyphicon glyphicon-list-alt" data-toggle="tooltip" data-placement="bottom" title="{{note.id}}"> {{ note.title }}</a>

            </li>


            {% endif %}

          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">{{ current_user.email }}<span class="badge">{{ current_user.mail.inbox|count }}</span><span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a href="{{ url_for('posts.mail', folder='inbox') }}">Mail</a></li>
                <li class="divider"></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
            </li>

          </ul>

        </div>
      </div>
    </div>

    {%- endblock -%}

    <div class="container">
      <div class="content">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}

        {% for category, message in messages %}
        <div class="alert alert-{{ category }}" role="alert">
        <p>{{ message }}</p>
        </div>
        {% endfor %}

        {% endif %}
        {% endwith %}
        {% block page_header %}{% endblock %}
        {% block content %}{% endblock %}
      </div>
    </div>
    {% block js_footer %}{% endblock %}
  </body>
</html>
