{% extends "base.html" %}
{% block content %}
{% from "notes/_macros.html" import render_field_for_view %}
<div class="row">
<div class="col-sm-4">

<h1>
	{{ bitbook.title }}
</h1>

<form method="post" action="note_manager">
	<input type="hidden" name="action" value="create">
	<input type="submit" class="btn btn-success" value="{{ bitbook.bitnotes|count }}+">
</form>
<p>{{ bitbook.description }}</p>
<p>
{% for field in bitbook.cover_fields %}
<span class="label label-primary">{{ field }}</span>
{% endfor %}
</p>



<div class="list-group">
{% for note in bitbook.bitnotes %}
  <a href="{{ url_for('posts.bitbook', bitbook_id=bitbook.id) }}?active={{ note.id }}" class="list-group-item {% if note.id == active.id %}active{% endif %}">
    <h4 class="list-group-item-heading">{{ note.created_at.strftime('%Y %m %d (%H:%M)') }}</h4>
    <p class="list-group-item-text">{{note.title}}</p>
  </a>
{% endfor %}
</div>
</div>
{% if active %}
<div class="col-sm-8">
<div class="panel">
<div class="panel-heading pull-right">
<a  href="{{ url_for('posts.bitnote', bitbook_id=bitbook.id, bitnote_id=active.id ) }}">
	<span class="glyphicon glyphicon-indent-left" data-toggle="tooltip" data-placement="top" title="You can see this"></span>
</a>

</div>
<div class="panel-body">

{% for field in active.bitfields %}
{{ render_field_for_view(field) }}
{% endfor %}

</div>
<div class="panel-footer">
	Created at : {{active.created_at.strftime('%Y %m %d (%H:%M)')}}
</div>
</div>
</div>
{% endif %}
</div>

{% endblock %}
