{% extends "base.html" %}
{% block content %}
{% from "notes/_macros.html" import render_field_for_view %}
<div class="row">
<div class="col-sm-4">

<h1>
	{{ bitbook.title }}
</h1>
<p>{{ bitbook.description }}</p>
<div class="btn-group btn-xs">
  <button class="btn btn-success" value="{{ bitbook.bitnotes|count }}+" onclick="createBitNote()">{{ bitbook.bitnotes|count }}+Add</button>
	<!-- Modal Button -->

	<button class="btn btn-primary" data-toggle="modal" data-target="#EditBitBookModal">
	  Edit
	</button>
  <button class="btn btn-danger" style="display:inline-block;" onclick="deleteBitBook('{{bitbook.id}}');">Delete</button>
</div>
<!-- EditBitBookModal -->
<div class="modal fade" id="EditBitBookModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="position:static;">
    <div class="modal-content">
    
      <div class="modal-header">
      Edit this BitBook
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            
      </div>
      <div class="modal-body">
      <form class="form-horizontal" method="post" action="">
        <div class="form-group">
          <label class="col-sm-2 control-label">Description</label>
          <div class="col-sm-10">
          <input type="text" class="form-control" name="title" value="{{ bitbook.title }}">
          </div>
          <label class="col-sm-2 control-label" >Title</label>
          <div class="col-sm-10">
          <textarea style="resize:vertical" type="text" name="description" class="form-control">{{ bitbook.description }}</textarea>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="Submit">
          </div>
        </div>
      </form>
      </div>
      <div class="modal-footer">
      Miss Information
      </div>

    </div>
  </div>
</div>


<h4>List of fields in this BitBook:</h4>
<p>
{% for field in bitbook.cover_fields %}
<span class="label label-primary">{{ field }}</span>
{% endfor %}
</p>
<h4>List of BitNotes:
</h4>
<div class="list-group">
{% for note in bitbook.bitnotes %}
  <a href="{{ url_for('posts.bitbook', bitbook_id=bitbook.id) }}?active={{ note.id }}" class="list-group-item {% if note.id == active.id %}active{% endif %}">
    <h5 class="list-group-item-heading">{{note.title}}</h5>
    <small class="list-group-item-text">{{ note.created_at.strftime('%Y %m %d (%H:%M)') }}</small>
  </a>
{% endfor %}
</div>
</div>
{% if active %}
<div class="col-sm-8">
<div class="panel panel-default">
<div class="panel-heading">
<a  href="{{ url_for('posts.bitnote', bitbook_id=bitbook.id, bitnote_id=active.id ) }}">
	<span class="glyphicon glyphicon-indent-left " data-toggle="tooltip" data-placement="left" title="Edit"></span>
  {{ active.title }}
</a>
<span class="glyphicon glyphicon-trash red pull-right" data-toggle="tooltip" data-placement="right" title="Delete this note" onclick="deleteBitNote('{{ active.id }}');"></span>

</div>
<div class="panel-body">

{% for field in active.bitfields %}
{{ render_field_for_view(field) }}
{% endfor %}

</div>
<div class="panel-footer">
	Created at : {{active.created_at.strftime('%Y %m %d (%H:%M)')}}
</div>
</div>
</div>
{% endif %}
</div>


<!-- Scripts -->
<script>
  function deleteBitBook(bitbook){
    if (confirm('Are you sure?') == true){
    $.ajax({
      type: "DELETE",
      url: "/"+bitbook+"/",
      success: window.location.replace('/')
      
    })}
  }
  function deleteBitNote(bitnote){
    $.ajax({
      type: "DELETE",
      url: "/{{bitbook.id}}/"+bitnote+"/",
      success: location.reload()
    })
  }
  function createBitNote(){
    $.ajax({
      type: "PUT",
      url: "/"+"{{bitbook.id}}"+"/",
      success: function(response){
        window.location.href = response;
      }
    })
  }
</script>
{% endblock %}
