{% extends "base.html" %}
{% block content %}
{% from "notes/_macros.html" import render_field_for_view %}
<div class="row">
<div class="col-sm-4">

<h1>
	{{ bitbook.title }}
</h1>
<div class="btn-group">
	<form method="post" action="note_manager">
		<input type="hidden" name="action" value="create">
		<input type="submit" class="btn btn-sm btn-success" value="{{ bitbook.bitnotes|count }}+">
	</form>
	<!-- Modal Button -->
	<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
	  Edit
	</button>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="position:static;">
    <div class="modal-content">
    <form method="post" action="">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        
        <input type="text" class="modal-title" name="title" id="myModalLabel" value="{{ bitbook.title }}">
      </div>
      <div class="modal-body">
        <input type="text" class="modal-title" name="description" value="{{ bitbook.description }}">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary" value="Submit">
      </div>
      </form>
    </div>
  </div>
</div>

<p>{{ bitbook.description }}</p>
<p>
{% for field in bitbook.cover_fields %}
<span class="label label-primary">{{ field }}</span>
{% endfor %}
</p>



<div class="list-group">
{% for note in bitbook.bitnotes %}
  <a href="{{ url_for('posts.bitbook', bitbook_id=bitbook.id) }}?active={{ note.id }}" class="list-group-item {% if note.id == active.id %}active{% endif %}">
    <h4 class="list-group-item-heading">{{ note.created_at.strftime('%Y %m %d (%H:%M)') }}</h4>
    <p class="list-group-item-text">{{note.title}}</p>
  </a>
{% endfor %}
</div>
</div>
{% if active %}
<div class="col-sm-8">
<div class="panel panel-default">
<div class="panel-heading">
<a  href="{{ url_for('posts.bitnote', bitbook_id=bitbook.id, bitnote_id=active.id ) }}">{{ active.title }}
	<span class="glyphicon glyphicon-indent-left  pull-right" data-toggle="tooltip" data-placement="top" title="You can see this"></span>

</a>

</div>
<div class="panel-body">

{% for field in active.bitfields %}
{{ render_field_for_view(field) }}
{% endfor %}

</div>
<div class="panel-footer">
	Created at : {{active.created_at.strftime('%Y %m %d (%H:%M)')}}
</div>
</div>
</div>
{% endif %}
</div>

{% endblock %}
