{% extends "email/base_email.html" %}
{% from "notes/_macros.html" import render_field_for_view %}
{% block title %}
Hello {{recipent}} you've got a bitnote from {{ sender }}
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-8">
		<div class="panel panel-primary">

			<div class="panel-heading">delete / send-to / add-owner / show-to</div>
			<div class="panel-body">

				{% for field in note.bitfields %}
				{{ render_field_for_view(field) }}
				{% endfor %}

			</div>
			<div class="panel-footer">
				Unused fields:
				{% for field in unused_bitfields %}
				<div class="btn btn-xs btn-primary" value="{{ field.title }}"></div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}